<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Fill this stuff out.</h1>
    <form method="POST" class="classy" action="/greeting-result">
        <label for="first_name">
            Your name, por favor:
            <input id="first_name" name="first_name", type="text">
        </label>
        <br>

        <input type="submit">
    </form>
</body>
</html>